/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19 mars 2020, 15:06:44
    Author     : LENOVO
*/
.container { 
    padding-top: 80px;
    background-color: rgb(126, 145, 131);
    width: 90%;
}

.facultatif {
  border: 1px solid black;
  border-radius: 4px;
  line-height: 30px;
  }
